{% extends "bootleg/layout.html" %}
{% block scripts %}
{{ block.super }}
<script>
 $(document).ready(function() {
   $("button[id^='delete-message']").on('click', function(){
     var id = $(this).data('message-id');
     var index = $(this).data('message-index');
     var url = "{% url 'bootleg-api-message' id='XXX' %}".replace('XXX', id);
     
     console.log('deleting message...'+index+' '+url);
     $("#progressbar-"+index)
       .addClass('progress')
       .html('<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="margin-right:5px; width: 100%"></div>');
     
     $.ajax({
       url: url,
       method: 'DELETE',
       success: function(xhr, status, error){
         // reload page
         window.location.href = '{{ request.get_full_path }}';
       },
       error: function(xhr, status, error){
         console.log("ERROR: code="+xhr.status+" status="+status+" "+url);
       }
     }).always(function() {
       $("#progressbar-"+index).removeClass('progress').html('');
     });
   });
 });
</script>
{% endblock %}
{% block content %}
<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">Messages
    <span class="badge badge-pill badge-light">{{ count }}</span></h4>
  <form action="{% url 'bootleg-messages' %}" method="GET">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search"
             name="search"
             aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" id="search-btn"
                type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
{% if messages %}
<nav aria-label="Page navigation example">
  <ul class="pagination d-flex">
    <li class="page-item">
      <a class="page-link" href="{% url 'bootleg-messages' %}">Latest</a>
    </li>    
    <li class="page-item {% if skip <= 0 %}disabled{% endif %}">
      <a class="page-link" href="{{ prevpage }}">Newer</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ nextpage }}">Older</a>
    </li>
    <li class="page-item">&nbsp;
    </li>
    <li class="page-item ml-auto">
      <a class="page-link" data-toggle="tooltip" title="Send new message"
         href="{% url 'bootleg-message-new' %}">New</a>
    </li>
  </ul>
</nav>
{% for m in messages %}
<div class="card {% if m.importance == 'high' %}border-danger{% else %}border-dark{% endif %} mb-3" style="margin-bottom:10px">
  <div class="card-header">
    <a href="{% url 'bootleg-message-new' %}?to={{ m.from.emailAddress.name }} <{{ m.from.emailAddress.address }}>">{{ m.from.emailAddress.name }}</a>
    <p><em>{{ m.receivedDateTime|date:'D d M Y' }} at {{ m.receivedDateTime|date:'f A e' }}</em></p>
  </div>
  <div class="card-body text-dark">
    <h5 class="card-title">
      <a href="{% url 'bootleg-message' id=m.id %}">{{ m.subject }}</a></h5>
    <p class="card-text">{{ m.bodyPreview }}</p>
  </div>
  <div class="card-footer d-flex">
    {% if m.hasAttachments %}
    <span style="margin-right:5px" data-toggle="tooltip"
          data-placement="right" title="Message has attachments">
      <i class="fas fa-paperclip"></i>
    </span>
    {% endif %}
    <a class="btn btn-outline-primary" style="margin-right:5px"
       href="{% url 'bootleg-message-send' id=m.id type='reply' %}"
       data-toggle="tooltip"
       title="Reply to {{ m.from.emailAddress.address }}">
      <i class="fas fa-reply"></i></a>
    <a class="btn btn-outline-primary" style="margin-right:5px"
       href="{% url 'bootleg-message-send' id=m.id type='replyAll' %}"
       data-toggle="tooltip" title="Reply All">
      <i class="fas fa-reply-all"></i></a>
    <a class="btn btn-outline-primary" style="margin-right:5px"
       href="{%url 'bootleg-message-send' id=m.id type='forward' %}"
       data-toggle="tooltip" title="Forward message">
      <i class="fas fa-arrow-right"></i></a>
    <div id="progressbar-{{ m.message_index }}"></div>
    <button class="btn btn-outline-danger ml-auto"
            id="delete-message-{{ m.message_index }}"
            data-message-index="{{ m.message_index }}"
            data-message-id="{{ m.id }}" data-toggle="tooltip"
            title="Delete message"><i class="fas fa-trash"></i></button>
  </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="{% url 'bootleg-messages' %}">Latest</a>
    </li>    
    <li class="page-item {% if skip <= 0 %}disabled{% endif %}">
      <a class="page-link" href="{{ prevpage }}">Newer</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ nextpage }}">Older</a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}
