{% extends "bootleg/layout.html" %}
{% block scripts %}
{{ block.super }}
<script>
 $(document).ready(function() {
   $('#search-alert').on('close.bs.alert', function(){
     window.location.href = "{%url 'bootleg-messages' %}";
   });

   $("button[id^='delete-message']").on('click', function(){
     var id = $(this).data('message-id');
     var index = $(this).data('message-index');
     var url = "{% url 'bootleg-api-message' id='XXX' %}".replace('XXX', id);
     
     console.log('deleting message...'+index+' '+url);
     $("#progressbar-"+index)
       .addClass('progress')
       .html('<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="margin-right:5px; width: 100%"></div>');
     
     $.ajax({
       url: url,
       method: 'DELETE',
       success: function(xhr, status, error){
         // reload page with only search parameter
         window.location.href = '{{ request.path }}'
                              + '?search='+ '{{ request.GET.search }}';
       },
       error: function(xhr, status, error){
         console.log("ERROR: code="+xhr.status+" status="+status+" "+url);
       }
     }).always(function() {
       $("#progressbar-"+index).removeClass('progress').html('');
     });
   });
 });
</script>
{% endblock %}
{% block content %}
<div class="alert alert-success alert-dismissible fade show" role="alert"
     id="search-alert">
  <h4 class="alert-heading">Search results for <code>{{ search_term }}</code>...
    <span class="badge badge-pill badge-light">{{ count }}</span></h4>
  <button type="button" class="close" id="search-close"
          data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% if messages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if nextpage %}
    <li class="page-item">
      <a class="page-link" href="{{ nextpage }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% for m in messages %}
{% include 'bootleg/message_summary.html' %}
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if nextpage %}
    <li class="page-item">
      <a class="page-link" href="{{ nextpage }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
